body{
   
    
    margin-left:                       -512px;
    margin-top:                        -384px;
    position:                        absolute;
    height:                             768px;
    width:                             1024px;
    left:                                 50%;
    top:                                  50%;
    background: #eeeeee;
}
.login{
    position: absolute;
   
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.login img{
border-radius: 150%;

}
.login button{
   background-color: rgb(78, 102, 180);
   shape-margin: 50px;
  
   align-self: center;
}
.login .welcome{
    text-align: center;
}