body{
   
    
    margin-left:                       -512px;
    margin-top:                        -384px;
    position:                        absolute;
    height:                             768px;
    width:                             1024px;
    left:                                 50%;
    top:                                  50%;
    background: #eeeeee;
}
.toparea {
    position: absolute;
    border-radius: 15px;
    top: 15%;
    left: 30%;
    transform:translate(-50%,-50%);
    width: 1000px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.08);
    background: #e7e7e7;
}
.toparea .profile{
    position: absolute;
   
    top: 50%;
    left: 75%;
    transform:translate(-50%,-50%);
    width: 1000px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.08);
    background: #5197e7;
}
.toparea .profile  img{
 border-radius: 150px;
}
.toparea .text{
    position: absolute;
    border-radius: 15px;
    top: 50%;
    left: 80%;
    transform:translate(-50%,-50%);
    width: 500px;
    display: flex;
  
}
.toparea .text  h4{
   color: antiquewhite;
   font-size: 75px;
   font-style: inherit;
   
 
   }
   .sidearea{
    position: absolute;
  
    top: 32%;
    left: 18%;
    transform:translate(-50%,-50%);
    width: 250px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.08);
    background: #e1eaf5;
   }

   .desprofile  .text h4{
    color: rgb(141, 131, 118);
    font-size: 20px;
    font-style: inherit;
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 5px solid #d1d3d6;
   
    }

    .desprofile{
        position: absolute;
      
        top: 73%;
        left: 18%;
        transform:translate(-50%,-50%);
        width: 250px;
        display: flex;
        
        background: #eef2f7;
       }
       .desprofile  .text {
        color:  rgb(141, 131, 118);;
        font-size: 15px;
        font-style: inherit;
        text-align: center;
      
        }
        .center{
            position: absolute;
          
            top: 65%;
            left: 250%;
            transform:translate(-50%,-50%);
            width: 750px;
            display: flex;
            box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.08);
            background: #c7d1df;
           }
            .center .topicskill h4 {
            color:  rgb(141, 131, 118);;
            font-size: 20px;
            font-style: inherit;
            text-align: center;
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 5px solid #596980;

            }
            .center .dataskils{
                color:  rgb(141, 131, 118);;

            }



 