body{
   
    
    margin-left:                       -512px;
    margin-top:                        -384px;
    position:                        absolute;
    height:                             768px;
    width:                             1024px;
    left:                                 50%;
    top:                                  50%;
    background: #eeeeee;
}
.mainarea{
    position: absolute;
      
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 1000px;
    display: flex;
    
    background: #557eaf;
}
.mainarea img{
border-radius: 150px;   
}

.sidearea{
    position: absolute;
      
    top: 105%;
    left: 12%;
    transform:translate(-50%,-50%);
    width: 200px;
    height: 500px;
    display: flex;
    
    background: #435366;
}
.sidearea  h4{
    text-align: center;
    color: ivory;
    border-bottom: 5px solid #596980;
}

.sidearea .data p {
    text-align: center;
    color: rgb(151, 151, 134);
   

}